<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout CSS</title>
    <link rel="stylesheet" type="text/css" href="layout.css">
  </head>
  <body>
     <div id="container">
       <div id="cabecera">
         <div id="cabecera1">
            <div id="cabecera1_1">
              <h1>Rambling Soul</h1>
              <p>
                A free Css Template from Rambling Soul
              </p>
            </div>
         </div>
         <div id="cabecera2">
             <div id="cabecera2contenido">
               <h5>
                 Great Design
               </h5>
               <h4>
                 Guarenteed
               </h4>
             </div>
         </div>
         <div id="cabecera3">           
             <div id="cabecera3contenido">
                <h3>Cliente Testimonial</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras trstique, felis ut vehicula laoreet, nunc dolor bibendum tortor, a faucibus eros tortor sed nunc. Aliquam eget arcu. Nam sem justo, vulputate eget, cursus id, volutpat ullamcorper, felis. In eget velit ut diam ultrices. <u>Read More</u>
                </p>
             </div>
         </div>
       </div>
         
       <div id="contenido">
           <div id=contenido1>
             <div id=contenido1_1>
                <ul>
                    <li id="HOME">HOME</li>
                    <li id="ABOUT">ABOUT</li>
                    <li id="PRODUCTS">PRODUCTS</li>
                    <li id="SERVICES">SERVICES</li>
                    <li id="NEWS">NEWS</li>
                    <li id="CONTACT">CONTACT</li>
                    <li id="NOGO">NOGO</li>
                </ul>
             </div>
             <div id=contenido1_2>
                <ul>
                    <li id="Lorem">Lorem Ipsum</li>
                    <li id="Dolor">Dolor Sit Amet</li>
                    <li id="Consectetur">Consectetur Adipiscing</li>
                    <li id="Cras">Cras Tristique</li>
                </ul>
             </div>
           </div>
       
        <div id="contenido2">
         <div id="contenido2_1">
          <dl id="dl1"><h4 id="our">our services</h4></dl>
          
          <dl id="dl2">
            <img src="imagen1.png" id="img">
            <h4>Services Name One</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adpiscing elit. Cras tristique, felis ut vehicula laoreet, nunc dolor bibendum tortor, a faucibus eros tortor sed nunc. Aliquam eget arcu. Nam sem justo, vulputate eget, cursus id, volutpat ullamcorper, felis. <u>Read More</u></p>              
          </dl>
          
          <dl id="dl3">
            <img src="imagen2.png" id="img">
            <h4>Services Name One</h4> 
            <p>Lorem ipsum dolor sit amet, consectetur adpiscing elit. Cras tristique, felis ut vehicula laoreet, nunc dolor bibendum tortor, a faucibus eros tortor sed nunc. Aliquam eget arcu. Nam sem justo, vulputate eget, cursus id, volutpat ullamcorper, felis. <u>Read More</u></p>
          </dl>
          
          <dl id="dl4">
            <img src="imagen3.png" id="img">
            <h4>Services Name One</h4> 
            <p>Lorem ipsum dolor sit amet, consectetur adpiscing elit. Cras tristique, felis ut vehicula laoreet, nunc dolor bibendum tortor, a faucibus eros tortor sed nunc. Aliquam eget arcu. Nam sem justo, vulputate eget, cursus id, volutpat ullamcorper, felis. <u>Read More</u></p>
          </dl>
        </div>
        <div id="contenido2_2">
        <h4>some contents</h4>
        <ul>
        <li>Service Title<br>Aliquam conque, elit vitae feugiat pretium, elit diam hendrerit justo, ac dapibus diam risus.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique, felis ut vehicula laoreet, nunc dolor bibendumm tortor, a faucibus eros tortor sed nunc. Aliquam eget arcu. Nam sem justo, vulputate eget, curcus id, volutpat ullamcorper, felis.<br><u>Read More</u></li>    
        <li></li>    
        </ul>
        </div>
        </div>
        </div>
        
       <div id="pie">
          <p>
              Rambling Soul @ All Rights Reserved
          </p>
          <p>
              Template provided for Css Course
          </p>
          <p>
              Css template by Rambling Soul
          </p>
       </div>
     </div>
  </body>
</html>
